# Ignore Python virtual environments
venv/

# Ignore output and data
*.txt
!runtime.txt
!requirements.txt
!requirements_full.txt
*.csv
*.log
output/
box_texts/

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#Ignore Secrets
.env

Dr.Mishra-materials/
